<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="site-logo">DailyBlog</div>
                <div>
                    <ul class="nav justify-content-center">
                        <li class="nav-item"><a href="" class="nav-link">Home</a></li>
                        <li class="nav-item"><a href="" class="nav-link">About</a></li>
                        <li class="nav-item"><a href="" class="nav-link">Terms & Consditions</a></li>
                        <li class="nav-item"><a href="" class="nav-link">Contact</a></li>
                    </ul>
                </div>
                <p class="mb-2 mt-2">Angular based Bloging Site</p>
            </div>
        </div>
    </div>
</footer>