<div class=" shadow-effect card">
    <img src="https://images.pexels.com/photos/7951267/pexels-photo-7951267.jpeg?auto=compress&cs=tinysrgb&w=600" alt="post-image" class="card-img-top">
    <div class="card-body">
        <small class="bg-light text-danger text-center">Design</small>
        <small class="bg-light text-sucess text-center ml-3">Featured</small>
        <small class="bg-light text-info text-center ml-3">Views -100,256</small>

        <h5 class="mt-1">HOW TO START BLOG IN 2024 EDITED NEW CATEGORY</h5>
        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus hic saepe qui quaerat? Eius adipisci excepturi quis sapiente, ipsam omnis distinctio, vitae minima quisquam expedita iure numquam illum, voluptatem nulla.</P>
        
        <small class="bg-light text-warning text-center ml-3">LAST UPDATE JAN 20 2024</small>
    </div>
</div>
